In [1]:
import numpy as np
import pandas as pd
from functools import reduce
import os
import statsmodels.api as sm

In [9]:
df=pd.read_pickle('../data/Portfolio Beta and Return Daily/beta.pickle')

In [10]:
df.dropna()

,1,2,3,4,5,6,7,8,9,10
2007-12-31,0.491387,0.683544,0.784919,0.857999,0.917366,0.975309,1.03179,1.10185,1.20136,1.42221
2008-01-02,0.472752,0.662835,0.76885,0.846641,0.909021,0.968601,1.02729,1.09895,1.19896,1.41884
2008-01-03,0.4631,0.655192,0.762727,0.841363,0.904773,0.965668,1.02531,1.09694,1.19725,1.41686
2008-01-04,0.458933,0.6493,0.758117,0.83819,0.90261,0.964672,1.02479,1.09655,1.1972,1.41476
2008-01-07,0.451718,0.642765,0.753624,0.833924,0.899396,0.962379,1.02284,1.09462,1.19353,1.41216
...,...,...,...,...,...,...,...,...,...,...
2011-10-18,0.463143,0.614559,0.73441,0.818785,0.895578,0.967423,1.0465,1.12851,1.23613,1.4877
2011-10-19,0.456275,0.615892,0.73691,0.820446,0.896996,0.969123,1.04817,1.12947,1.23654,1.48599
2011-10-20,0.461664,0.616712,0.737539,0.821677,0.898278,0.969637,1.0487,1.13065,1.23819,1.48588
2011-10-21,0.466273,0.617159,0.736711,0.820311,0.8977,0.968933,1.04767,1.12938,1.23662,1.48521
2011-10-24,0.462527,0.614879,0.733844,0.817875,0.895397,0.966476,1.04524,1.12711,1.23477,1.48076

In [11]:
df.mean()

1     0.457239
2     0.622464
3     0.728253
4     0.813918
5     0.891588
6     0.966517
7     1.047017
8     1.138573
9     1.262254
10    1.542471
dtype: float64